<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Leden.Net.Properties.Settings.LedenConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Temp\Visual studio projects\Leden.Net - work\Leden.mdb&quot;" providerName="System.Data.OleDb"/>
        <add name="Leden.Net.Properties.Settings.LedenConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Leden.mdb" providerName="System.Data.OleDb"/>
        <add name="Leden.Net.Properties.Settings.Leden_ProductieConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;|DataDirectory|\Leden Productie.mdb&quot;" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
